* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 50vh;
  margin: 0 auto;
  border: 5px solid;
}

.grid > div {
  flex-basis: 10%;
}

.grid > div::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.grid > .snake {
  background-color: green;
}

.grid > .fruit {
  background-color: pink;
}
